/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #EEE4DB;
}

/*change text to white overlay on image*/
h1 {
  color: WHITE;
}

/* Add a background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #6E5744;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: WHITE;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #6E6965;
  color: white;
}

/* Style the "active" element to highlight the current page*/
.topnav a.active {
  background-color: #BAB2AB;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type="text"] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}

.image {
  position: relative;
  width: 100%; /* for IE 6 */
}

.headertext {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
}

.clearfix {
  overflow: auto;
}

/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type="text"] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type="text"] {
    border: 1px solid #ccc;
  }
}

.borderline {
  border-right: 0px solid black;
  padding: 64px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.abouttext {
  float: left;
  width: 23%;
  padding: 2%;
  vertical-align: text-top;
}

.mostpopular {
  float: left;
  width: 30%;
  padding: 5%;
  vertical-align: text-top;
}

/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 800px) {
  .fridaimage,
  .mostpopular,
  .abouttext {
    width: 100%;
    /* The width is 100%,
    when the viewport is 800px or smaller */
  }
}
h2 {
  color: #6E5744;
}
th,
td {
  padding: 14px;
  vertical-align: top;
  text-align: left;
}

.quote {
  padding: 14px;
  background-color: #BAB2AB;
  color: white;
}

a {
  color: #6E5744;
}
a:visited {
  color: gray;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 25px; /* Footer height */
}

/*.footer {
  position:relative;
  text-align:center;
  background-color:#6E5744;
  bottom:0;width:100%;
  height:100px;"
}*/

.dark-mode {
  background-color: black;
  color: white;
  h2: white;
}

.displayimg {
  height: 200px;
  padding: 2%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.displayimg:hover {
  opacity: 0.7;
}

.imagetable {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.infobox {
  padding: 14px;
  background-color: #BAB2AB;
  color: white;
}

.galleryback {
  background-color:#BAB2AB;
  color: white;
  border: gray;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}